/* CSS GENERAL */
.bg-gris{background:linear-gradient(to bottom, #1f2023, transparent);}
.bg-grisInvertido{background: linear-gradient(to top, #1f2023, transparent);}
.col-12, .col-lg-12 {padding:0;}
/* VISTA MOBILE */
@media only screen and (max-width:768px){
    a{font-size:1.5rem!important;}
}
/* VISTA DESKTOP */
@media only screen and (min-width:1024px){
    a{font-size:1.8rem; color:white; border-radius:20px; transition:all 2s;}
    a:hover{background-color:grey;border-radius: 20px;}
}